/* Стили для шапки */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Стили для основного контента */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
